:root {
    --wrigthColor: #000000;
    --elementColor: #fe5d5d;
    --boxColor: #f9f1ec;
    --bgColor: #ffffff;
    --border: #e0e0e0;
    --footerColor: #faf1ed;
    --radius: 20px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: 'Roboto';
}

.containers {
    width: 76vw;
    margin: 0 auto;
    margin-bottom: 40px;
}
h1 {
    font-size: 3.5em;
}
h2 {
    font-size: 1.7em;
    margin-bottom: 30px;
}
h3 {
    font-size: 1.5em;
}
p {
    letter-spacing: 1px;
}
a {
    color: var(--wrigthColor);
    text-decoration: none;
}

/********** HEADER **********/
header {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header .header_left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: calc(100% - 40%);
    height: 100%;
    position: relative;
}

header .header_left img {
    background: cover/center;
    width: 200px;
    height: 100%;
}

header .header_left input {
    width: calc(100% - 200px);
    max-width: 400px;
    min-width: 300px;
    border: none;
    margin-left: 50px;
    border-radius: var(--radius);
    border: 2px solid var(--border);
    overflow: hidden;
}
header .header_left input:focus {
    outline: none;
    padding-left: 50px;
}
header .header_left i {
    width: 10px;
    font-size: 1.3em;
    margin-left: 20px;
    position: absolute;
    left: 250px;
}

header .menu {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: nowrap;
    width: 40%;
    height: 100%;
}

header .menu span {
    height: 100%;
    width: calc((70% - 5px) / 4);
    min-width: 100px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .menu span:hover {
    background-color: var(--boxColor);
    border-radius: var(--radius);
    width: 100px;
    line-height: 40px;
    text-align: center;
}
header .menu span i {
    font-size: 1.3em;
    margin-right: 5px;
}
header .burger {
    display: none;
}

/********* Main ********/
/********* boxes ********/
#head_title {
    color: var(--elementColor);
}
.all_boxes {
    display: flex;
    width: 100%;
    margin: 40px 0;
    row-gap: 10px;
}
.all_boxes .box {
    flex: 1;
    width: calc(100% / 6 - 50px);
    border: 1px solid var(--wrigthColor);
    border-radius: var(--radius);
    min-height: 66px;
}
.all_boxes .box:not(:last-child) {
    margin-right: 10px;
}
.all_boxes .box a {
    border-radius: var(--radius);
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    gap: 12px;
    padding: 10px 16px 12px;
    position: relative;
}
.all_boxes .box a span:nth-child(1) {
    overflow: hidden;
    text-overflow: ellipsis;
}

.all_boxes .box:hover {
    background-color: var(--wrigthColor);
    cursor: pointer;
}
.all_boxes .box a:hover {
    color: var(--bgColor);
}

/******* images *****/
.all_images {
    width: 100%;
    height: 430px;
    display: flex;
}

.all_images .left_image {
    flex: 1;
    width: calc(100% - 40%);
    height: 100%;
    margin-right: 2px;
}
.all_images .left_image img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.all_images .left_image img:hover {
    opacity: 0.8;
}

.all_images .right_images {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.all_images .right_images img {
    flex: 1;
    height: calc(50% - 1.5px);
    object-fit: cover;
    object-position: center;
}
.all_images .right_images img:first-child {
    margin-bottom: 3px;
}
.all_images .right_images img:hover {
    opacity: 0.8;
}

/******** destinations *********/

.destinations {
    font-size: 12px;
    margin: 28px 0 45px;
}

/******** content *********/

.content {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    width: 100%;
}

.content .left_content {
    width: calc(100% - 450px);
    margin-right: 100px;
}
.content .left_content p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}
.content .right_content {
    width: 450px;
}
.content .right_content .box_above {
    background-color: var(--elementColor);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 30px;
    line-height: 40px;
}
.content .right_content .box_above p {
    line-height: 20px;
    margin: 10px auto;
}
.content .right_content .box_above p:first-child {
    font-weight: bold;
    font-size: 2em;
    line-height: 40px;
}

.content .right_content .box_above button {
    background-color: var(--wrigthColor);
    color: var(--bgColor);
    border: none;
    line-height: 50px;
    width: 150px;
    border-radius: var(--radius);
}
.content .right_content .box_above button:hover {
    opacity: 0.85;
}

.content .right_content .box_bottom img {
    width: 100%;
    height: 70%;
}

/******** caroussels ***********/
.caroussels .caroussel {
    height: 50vh;
    display: flex;
    position: relative;
    margin-bottom: 80px;
}
.caroussels .caroussel .fa-arrow-right {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: var(--bgColor);
    border: 2px solid var(--wrigthColor);
    border-radius: 50%;
    right: 0;
    top: 30%;
    transform: translate(50%, -30%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.caroussels .caroussel .fa-arrow-left {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: var(--bgColor);
    border: 2px solid var(--wrigthColor);
    border-radius: 50%;
    left: 25%;
    top: 30%;
    transform: translate(-50%, -30%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.caroussels .caroussel .fa-arrow-left,
.caroussels .caroussel .fa-arrow-right {
    cursor: pointer;
}
.caroussels .caroussel .left-col {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 25%;
    height: 100%;
}
.caroussels .caroussel .left-col a {
    font-weight: bold;
}
.caroussels .caroussel .left-col a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.caroussels .caroussel .right-col {
    height: 100%;
    width: 75%;
    display: flex;
    overflow-x: scroll;
    position: relative;
}

.caroussels .caroussel .right-col div:not(:last-child) {
    margin-right: 40px;
}
.caroussels .caroussel .right-col::-webkit-scrollbar {
    display: none;
}

.caroussels .caroussel .right-col > div {
    height: 100%;
    width: calc((100% - 40px) / 3);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}
.caroussels .caroussel .right-col div .circle {
    background-color: var(--bgColor);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 2%;
    left: 83%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.caroussels .caroussel .right-col div img {
    height: 65%;
    object-fit: cover;
}
.caroussels .caroussel .right-col div img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.caroussels .caroussel .right-col div .description {
    height: 35%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.caroussels .caroussel .right-col div .rating {
    display: flex;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
}

.caroussels .caroussel .right-col div .rating i {
    color: green;
    background-color: green;
    border-radius: 50%;
    margin: 1px;
}
/******** MODAL **********/

main .modal {
    display: flex;
    background-color: rgb(0, 0, 0, 0.8);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

main .hidden {
    display: none;
}

.form-container,
.form-container > div,
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    margin: 0 auto;
    flex-direction: row;
}

.form-container > div {
    background-color: var(--bgColor);
    border-radius: 20px;
    padding: 60px 20px;
    position: relative;
}

.form-container i {
    color: rgb(0, 0, 0, 0.5);
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.form-container i:hover {
    color: var(--wrigthColor);
    cursor: pointer;
}

.form-container p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

input,
textarea {
    width: 60%;
    margin: 10px 0;
    outline: none;
    border: var(--border) 2px solid;
    padding: 16px 10px;
    font-size: 16px;
    font-family: 'Roboto';
}

input[type='submit'] {
    background-color: var(--elementColor);
    color: var(--bgColor);
    width: 200px;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    font-family: 'Roboto';
}

input[type='submit']:hover {
    background-color: var(--border);
    cursor: pointer;
}

input[type='submit']:focus {
    outline: var(--elementColor) solid 2px;
}

/******** FOOTER *********/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    position: relative;
    background-color: var(--footerColor);
}

footer::before {
    position: absolute;
    content: '';
    border: 1px solid var(--border);
    width: 100vw;
    top: 0;
}
footer a {
    font-weight: bold;
}
